:root {
    --bg-color: linear-gradient(45deg, #ffefef, #e8ffff);
    --shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    --shadow-hovering: 0 15px 35px rgba(0, 0, 0, 0.15);
    --colored-shadow:
            0 0 7px #3377fe55,
            0 0 10px #4c6fff55,
            0 0 23px #8370ff55,
            0 0 17px #ba59ff55;
    --colored-shadow-hovering:
            0 0 7px #3377fe33,
            0 0 14px #4c6fff33,
            0 0 30px #8370ff33,
            0 0 40px #ba59ff33;
    --transition: all 0.5s cubic-bezier(0.176, 0.885, 0.32, 1.1);
    --black: #1e1e2c;
    --white: #f8f9fa;
    --gradient: linear-gradient(45deg, #3d3aff, #8547f8);
    --colored-border: linear-gradient(160deg, #3377fe, #4c6fff, #8370ff, #ba59ff);
    --colored-bg:  linear-gradient(60deg, var(--box-bg), #f8f9fa) padding-box, linear-gradient(160deg, #3377fe, #4c6fff, #8370ff, #ba59ff) border-box;
    --pure-colored-bg: linear-gradient(160deg, #3377fe, #4c6fff, #8370ff, #ba59ff);
    --font-color: #3d3aff;
    --box-bg: rgba(255,255,255,0.95);
    --border-width: 1px;
}

@font-face {
    font-family: 'Comfortaa';
    src: url(./font/Comfortaa.ttf);
}
@font-face {
    font-family: 'JetBrain Mono';
    src: url(./font/JetBrainsMono-Medium.ttf);
}

* {
    font-family: 'Comfortaa', 'sans-serif';
}


#menu {
    display: none;
    position: fixed;
    list-style: none;
    background: #FFFFFF80;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(170, 100, 255, 0.4);
    backdrop-filter: blur(5px);
    padding: 10px 0;
    z-index: 999;
    overflow: hidden; /* 防止伪元素溢出 */
    min-width: 200px;
    transition: var(--transition);
    user-select: none;
}
@keyframes flow {
    0% { background-position: 0% 0; }
    100% { background-position: 200% 0; }
}
#menu li {
    /*padding: 10px 0px;*/
    padding: 7px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}
#menu li:hover {
    background: rgba(180, 100, 255, 0.2);
}


.flow-border{
    background: var(--colored-bg);
    transition: var(--transition);
}
.flow-border::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: var(--border-width); /* 边框宽度 */
    border-radius: inherit;
    background: linear-gradient(90deg, #3377fe, #4c6fff, #8370ff, #ba59ff, #3377fe);
    background-size: 200% 100%;
    animation: flow 3s linear infinite;

    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    z-index: -1;
    transition: var(--transition);
}
.flow-border-thick {
    background: var(--colored-bg);
    transition: var(--transition);
}
.flow-border-thick::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px; /* 边框宽度 */
    border-radius: inherit;
    background: linear-gradient(90deg, #3377fe, #4c6fff, #8370ff, #ba59ff, #3377fe);
    background-size: 200% 100%;
    animation: flow 3s linear infinite;

    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    z-index: -1;
    transition: var(--transition);
}

.button-prim {
    display: flex;
    position: relative;
    transition: var(--transition);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;


    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;

    margin: 8px 0;
    padding: 13px 27px;
    min-width: 60px;

    color: var(--white);
    /*border: 0px solid transparent;*/
    border: none;
    border-radius: 25px;
    background: var(--pure-colored-bg);
    z-index: 1;

    box-shadow: var(--colored-shadow);
}
.button-prim:hover {
    box-shadow: var(--colored-shadow-hovering);
    transform: scale(1.03);
}
.button-prim:active {
    box-shadow: var(--colored-shadow);
    transform: scale(0.99);
}

.button-sec {
    display: flex;
    position: relative;
    transition: var(--transition);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;


    text-decoration: none;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;

    margin: 8px 0;
    padding: 13px 27px;
    min-width: 60px;

    color: var(--black);
    /*border: 0px solid transparent;*/
    border: none;
    border-radius: 25px;
    background: transparent;
    z-index: 1;

    box-shadow: var(--shadow);
}
.button-sec:hover {
    box-shadow: var(--shadow-hovering);
    transform: scale(1.03);
}
.button-sec:active {
    box-shadow: var(--shadow);
    transform: scale(0.99);
}
