@font-face {
    font-family: 'Comfortaa';
    src: url('../font/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    /* background: #1c1c1e; */
    color: white;
    overflow: hidden;
}

.settings-window {
    display: flex;
    width: 100%;
    height: 5000px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    backdrop-filter: blur(20px);
    background: rgba(30, 30, 30, 0.7);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.sidebar {
    width: 200px;
    /* background: rgba(40, 40, 40, 0.8); */
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    padding: 16px 20px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.4),
        0 0 10px rgba(255, 255, 255, 0.3),
        0 0 20px rgba(255, 255, 255, 0.2),
        0 0 30px rgba(255, 255, 255, 0.1);
}

.sidebar-item:hover {
    background: rgba(255, 255, 255, 0.1);
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.4),
        0 0 10px rgba(255, 255, 255, 0.3),
        0 0 20px rgba(255, 255, 255, 0.2),
        0 0 30px rgba(255, 255, 255, 0.1);

}

.sidebar-item.active {
    background: rgba(255, 255, 255, 0.15);
}

.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.content h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.settings-item {
    display: flex;

}

.neon-switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: #222;
    border-radius: 26px;
    box-shadow:
        0 0 5px #8e2de2,
        0 0 15px #8e2de2,
        inset 0 0 10px #7a00ff;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background: #8e2de2;
    border-radius: 50%;
    box-shadow:
        0 0 5px #8e2de2,
        0 0 10px #8e2de2;
    transition: 0.4s;
}

input:checked+.slider {
    background: #5f27cd;
    box-shadow:
        0 0 8px #6f42c1,
        0 0 18px #6f42c1,
        inset 0 0 12px #9154ff;
}

input:checked+.slider:before {
    transform: translateX(24px);
    background: #c084fc;
    box-shadow:
        0 0 8px #c084fc,
        0 0 15px #c084fc;
}