body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    background: #000000;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

.startingLogo { 
    position: absolute;
    --logoSide: 100px;
    top: calc(50% - var(--logoSide) / 2);
    left: calc(50% - var(--logoSide) / 2);
    width: var(--logoSide);
    height: var(--logoSide);
    opacity: 0;
}

.bar {
    position: absolute;
    --barWidth: 250px;
    --barHeight: 5px;
    width: var(--barWidth);
    height: var(--barHeight);
    top: calc(90% - var(--barHeight) / 2);
    left: calc(50% - var(--barWidth) / 2);
    border: #3a3a3a solid 1px;
    background-color: #242424;
    border-radius: 25px;
    opacity: 0;
}

#barEmpty {
    background-color: #242424;
}
#barFull {
    width:0px;
    background-color: #fff;
}